python-dotenv
pydantic
fastapi
uvicorn[standard]
uvloop
httptools
starlette
gunicorn
#tiktoken
openai
instructor
slack-sdk
slack-bolt
#google-api-python-client
#google-auth-oauthlib
#google-auth-httplib2
#google-search-results
#beautifulsoup4
aiocache
aioredis
requests
#types-requests
tenacity
starlette
pyautogen[retrievechat]

slack_bolt
aiohttp
httpx
async-lru
# needed for voice
soundfile
#keyboard

#elevenlabs


# ASGI for azure web  service



# tests
pytest
pytest-cov
pytest-env
pytest-asyncio
# speech
azure-cognitiveservices-speech
# dev
# pre-commit
azure-keyvault-secrets
azure-identity



